body {
	
	background-repeat:no-repeat;
	background-size: 100% 100%;
	height:100vh;
	background-attachment:none;
	overflow-x:hidden;
}
.nomargin{
	margin-left:0px !important;
	margin-right:0px !important;
}
.contactusContainer{
    position:absolute;
    right:0;
    width:60%;
    padding-left:6px;
    padding-right: 6px;
}
.ContactClose{
	float:right;
	margin-right:20px;
}
.technicalSupport{
    width:100%;
    border-color:#ccc;
    padding:10px;
}
.FemalePose{
	width: 80%;
    margin-top: 10%;
}
.imageTop {
	position:absolute;
	left:10px;
	top:100px;

}
.contact{
	position:absolute;
	right:0;
	width:60%; 
	padding-left:6px; 
	padding-right:6px;
}
.info{
	
	position:absolute;
	left:10px;
	width:23%;
	
}
.closeImg{
    float:right;
    margin-right:20px;
    width:50px;
}
.backImg{
    float:left;
    margin-left:20px;
    width:50px;
}
.btn-primary {
	background-color:#fff;
	border-color:#ccc;
	color:#ccc;
	width:100%;
	margin-top:10px;
	
}
.btn {
	text-align:left;
}
.caret {
	margin-left:0px !important;
	float:right;
	margin-top:7px;
}
.btn-primary:hover {
	background-color:#fff;
	border-color:#ccc;
	color:#ccc;
}
.btn-primary.active, .btn-primary:active,.open > .dropdown-toggle.btn-primary {
    color: #ccc;
    background-color: #fff !important;
    border-color: #ccc;
}
li{
	cursor:pointer;
}
.textareaSize {
   
    resize: none;
    width:100%;
    padding: 10px;
	margin-top:10px;
	overflow:hidden;
	box-sizing:border-box;
}
.SubmitBtn{
	text-align:center;
	margin-top:10px;
	
}
.ContactText{
	font-weight:bold;
	letter-spacing:4px;
	font-size:20px;
}
.feedback {
	font-weight:bold;
	font-size:16px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.PopupContent {
	
	list-style:none;

}
a{
	color:black;
}
@media only screen and (min-width:320px) {
	
	.imageTop{
		top:70px;
	}
}
@media only screen and (max-width:414px) {
	.FemalePose {
		  width: 65%;
          margin-top: 8%;
	}
	.logo{
		margin-top:0px !important;
	}
    .info {
          width: 33%;
    }
    .closeImg{
      margin-right:15px;
      width:30px;
	}
	.backImg{
		margin-left:15px;
		width:30px;
	  }
}
@media only screen and (max-width:767px) {
	.ContactText {
		font-size:12px;
	}	
}
@media only screen and (min-width:768px) and (min-height:1024px) {	
	
	.imageTop {
		top:75px;
	}
}